.adminsettings {
  display: flex;
  flex-direction: row;
}

.adminsettings-sidebar {
  border-right: solid 2px;
  border-color: #dddddd;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  flex: 0.2;
}

.adminsettings-body {
  flex: 0.8;
  padding: 10px;
}

.update-schedule {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.datetimepicker {
  display: flex;
  flex-direction: row;
}

.datetimepicker > input {
  border: 1px solid black;
}

.globaleventitem {
  padding: 5px;
  border-radius: 50px;
}

.globaleventitem:hover {
  cursor: pointer;
  background-color: #dddddd;
}
