.home {
  padding: 0;
  display: flex;
  flex-direction: row;
}

.home-main {
  margin: 15px;
  flex: 1;
}

.home-sidebar {
  background-color: #222E51;
  margin: 0;
  padding: 10px;
  color: white;
}
