/* .home { */
  /* display: flex; */
  /* flex-direction: column; */
  /* height: 50vh; */
  /* max-height: 100vh; */
/* } */

.home-body {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.home-main {
  margin: 15px;
  flex: 1;
}

.home-sidebar {
  background-color: #222E51;
  margin: 0;
  padding: 10px;
  color: white;
  /* height: auto; */
  /* max-height: 100vh; */;
  /* overflow-y: scroll; */
}
