.schedule-item {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.schedule-item > input {
  padding: 10px;
}

.schedule-item > h4 {
  width: 30px;
  margin: 0 10px;
  padding: 10px;
}

.user-settings {
  display: flex;
  flex-direction: row;
}

.user-settings-body {
  flex: 0.9;
  padding: 10px;
}

.user-settings-sidebar {
  background-color: #222E51;
  color: white;
  padding: 20px;
}

.schedule-items > form > button {
  margin: 20px;
}
